@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inconsolata&family=Poppins&family=Raleway:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

/**
IMPORTED FONTS:
    POPPINS
    INCONSOLATA
    BUNGEE SPICE
    RALEWAY
    SOURCE SANS PRO
**/

:root{
    --dark: #03045e;
    --light: #90e0ef;
    --neutral: #00B4D8;
    --lightNeutral: #00b4d8;
    --darkNeutral: #0077b6;
    --blue-grey: #0D5B6D;
    
    --turquoise: #18DFCE;
    --green-cyan: #019B65;
    --dark-green: #016441;
    
  }

#robotics-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
}

.robot-block, .stack, .robot-block img, .robot-block > .stack > .title-block > h3{
    border-radius: 10px;
    border: 0px solid;
}

.robot-block h4{
    border-radius: 5px;
    border: 0px solid;
    padding: 5px;
    background-color: var(--blue-grey);
}

.robot-block{
    display: flex;
    flex-direction: row;
    width: 90vw;
    background-color: var(--lightNeutral);
    margin-top: 30px;
}

.stack{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    margin: 20px;
    font-family: Raleway;
}

.title-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.title-block > h3{
    background-color: var(--darkNeutral);
    padding: 20px;
    
}

.row-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-flex-end{
    justify-content: flex-end;
    align-self: flex-end;
}

.row-box > h4{
    margin: 10px;
    background-color: var(--dark);
    color: lightblue;
    font-size: 13px;
}

.stack > p {
    align-self: center;
}

.robot-img{
    width: 90%;
    align-self: center;
}

.right{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: blueviolet;
}

h3, h4{
    text-align: center;
}

.img-spacer{
    height: 3vh;
}

.robot-feature-list{
    border-radius: 20px;
    background-color: var(--darkNeutral);
    padding: 30px;
}